﻿
@{
    ViewBag.Title = "Moderate";
}

@*Тут потрібна таба для вхідних і вихідних запитів*@
<div style="margin-top:30px">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#rubrics" aria-controls="home" role="tab" data-toggle="tab">Rubrics</a></li>
        <li role="presentation"><a href="#Subrubric" aria-controls="profile" role="tab" data-toggle="tab">Subrubrics</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="rubrics">@Html.Action("Rubrics")</div>
        <div role="tabpanel" class="tab-pane" id="Subrubric">@Html.Action("Subrubrics")</div>
    </div>

</div>
