﻿@using System.Web.UI.HtmlControls
@model Tech_No_Logic.Models.ManagePhotoViewModel
@{
    ViewBag.Title = "ChangePhoto";
}
<h2>ChangePhoto</h2>
<hr/>
<div>
    @if (Model.Photo != null)
    {
        @Html.Raw("<img id ='blah' style='object-fit:cover;width: 250px;height: 250px; ' class='img-thumbnail' src=\"data:image/jpeg;base64," + Convert.ToBase64String(Model.Photo) + "\" />")
    }
        else
        {   
        <img id="blah" src="~/Content/Photos/default-profile-photo.png" class="img-thumbnail" style="object-fit:cover;width: 250px;height: 250px; " />
    }
</div>
<div>
@using (Html.BeginForm("ChangePhoto", "Manage", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
        <div style="margin-top:20px">
                <label class="btn btn-default btn-file col-md-2" style="margin-right: 5px">
                    Change <input type="file" name="uploadImage" style="display: none;" accept="image/*,image/jpeg" onchange="document.getElementById('blah').src = window.URL.createObjectURL(this.files[0])">
                </label>

                <button type="submit" class="btn btn-success col-md-2 ">Save</button>
          
     </div>
}
</div>
    

