﻿@using System.Web.UI.HtmlControls
@model Tech_No_Logic.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/AngularScripts/ManageScript.js"></script>
<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <div ng-controller="ManageController" class="container" style="margin-top:10px;">
        <div class="row" style="margin-top:20px;">
            <div class="col-md-10">
                @*'@Url.Action("MainInfo", "Manage")'*@
                <ng-include src="url"></ng-include> 
            </div>
            <div class="col-md-2">
                <div class="btn-group-vertical" style="position:fixed">
                    <button class="btn btn-default" ng-click="showChangeMainInfo()">Main information</button>
                    <button class="btn btn-default" ng-click="showSecurity()">Security</button>
                    <button class="btn btn-default" ng-click="showChangePhoto()">Change photo</button>
                </div>
            </div>
        </div>
    </div>
    
        @*
            Phone Numbers can used as a second factor of verification in a two-factor authentication system.
             
             See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication using SMS.
             
             Uncomment the following block after you have set up two-factor authentication
        *@
        @*  
            <dt>Phone Number:</dt>
            <dd>
                @(Model.PhoneNumber ?? "None")
                @if (Model.PhoneNumber != null)
                {
                    <text>[&nbsp;&nbsp;@Html.ActionLink("Change", "AddPhoneNumber")&nbsp;&nbsp;]</text>
                    using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>[<input type="submit" value="Remove" class="btn-link" />]</text>
                    }
                }
                else
                {
                    <text>[&nbsp;&nbsp;@Html.ActionLink("Add", "AddPhoneNumber")&nbsp;&nbsp;]</text>
                }
            </dd>
            //-----------------------------------------------------------------------------------------
        *@
        @*<dt>Two-Factor Authentication:</dt>
        <dd>
            <p>
                There are no two-factor authentication providers configured. See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication.
            </p>*@

        @*//-----------------------------------------------------------------------------------------
    @if (Model.TwoFactor)
    {
        using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <text>Enabled
            <input type="submit" value="Disable" class="btn btn-link" />
            </text>
        }
    }
    else
    {
        using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <text>Disabled
            <input type="submit" value="Enable" class="btn btn-link" />
            </text>
        }
    }*@
        @*</dd>*@
    
</div>
