﻿@model Tech_No_Logic.Models.ManageSecurityViewModel
@{
    ViewBag.Title = "Security";
}

<h2>Security</h2>
<hr />
<table class="table table-striped">
    <tr><td><h4>Change password</h4></td></tr>
    <tr><td><ng-include src="'@Url.Action("ChangePassword", "Manage")'"></ng-include></td></tr>
    <tr><td><h4>Manage logins</h4></td></tr>
    <tr><td><ng-include src="'@Url.Action("ManageLogins", "Manage")'"></ng-include></td></tr>
</table>
