﻿@model IEnumerable<Tech_No_Logic.Models.Subrubric>

@{
    ViewBag.Title = "Index";
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Rubric
        </th>
        <th>
            Subrubric
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Rubric.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", "Subrubrics", new { id = item.Id }, null) |
            @Html.ActionLink("Details", "Details", "Subrubrics", new { id = item.Id }, null) |
            @Html.ActionLink("Delete", "Delete", "Subrubrics", new { id = item.Id }, null)
        </td>
    </tr>
}

</table>
