﻿@model IEnumerable<Tech_No_Logic.Models.UserSkillWanted>

@{
    ViewBag.Title = "RequestIndex";
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Subrubric)
        </th>
        <th>
            Skill
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Subrubric.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
        </tr>
    }

</table>