﻿@model IEnumerable<Tech_No_Logic.Models.UserModeratorViewModel>

@{
    ViewBag.Title = "Administrate";
}

<h2>Users</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LName)
        </th>
        <th>
            
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LName)
        </td>
        <td>
            @if (item.isModerator)
                {
                @Html.ActionLink("Remove moderator", "RemoveModerator", new { UserId = item.Id }, new { @class = "btn"})
            }
            else
            {
                @Html.ActionLink("Add moderator", "AddModerator", new { UserId = item.Id }, new { @class = "btn" })
            }

        </td>

        <td>
            @Html.ActionLink("Remove user", "RemoveUser", new { UserId = item.Id }, new { @class = "btn" })
        </td>
    </tr>
}

</table>
