﻿@using System.Web.UI.HtmlControls
@model Tech_No_Logic.Models.ProfileViewModel
@{
    ViewBag.Title = "Profile";
}
<link href="~/Content/ProfileStyles.css" rel="stylesheet" />
<div class="row">
    <div id="ProfileHeader" class="jumbotron col-md-10 col-md-offset-1">
            <div class="col-md-5">
                <div id="imgBox">
                    @if (Model.Photo != null)
                    {
                        @Html.Raw("<img style='object-fit:cover;width: 250px;height: 250px;' class='img-thumbnail' src=\"data:image/jpeg;base64," + Convert.ToBase64String(Model.Photo) + "\" />")
                    }
                    else
                    {
                        <img src="~/Content/Photos/default-profile-photo.png" class="img-thumbnail" style="width:auto"/>
                    }
                </div>
            </div>
        <div class="col-md-7">
            <div id="NameRow" class="row">
                @Model.FirstName @Model.LastName
            </div>
            <hr style="margin:0px" />
            <div id="UserMainInfo" class="row">
                <dl id="UserMainInfoList" class="dl-horizontal">
                    @if (!(Model.HomeTown == null))
                    {
                        <dt>
                            Hometown:
                        </dt>

                        <dd>
                            @Model.HomeTown
                        </dd>
                    }
                    <dt>
                        Age:
                    </dt>

                    <dd>
                        @Model.Age years
                    </dd>
                    <dt>
                        Email:
                    </dt>

                    <dd>
                        @Model.UserEmail
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-1" id="SkillsIHave">
        <div class="panel panel-default">
            <div class="panel-heading" id="SkillsPanalHeading">
                <h3 class="panel-title">My skills</h3>
            </div>
            <div class="panel-body">
                @Html.Action("UserSkills")
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-1" id="SkillsIHave">
        <div class="panel panel-default">
            <div class="panel-heading" id="SkillsPanalHeading">
                <h3 class="panel-title">Skills I want</h3>
            </div>
            <div class="panel-body">
                @Html.Action("UserSkillWanteds")
            </div>
        </div>
    </div>
</div>