﻿@model IEnumerable<Tech_No_Logic.Models.Request>

<h2>Input requests</h2>
<table class="table">
    <tr>
        <th></th>
        <th>
            User
        </th>
        <th>
            Skill
        </th>
        <th>
            Your skill
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Message)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfSending)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @if (item.SkillFrom.ApplicationUser.Photo != null)
                 {
                     @Html.Raw("<img id ='blah' style='object-fit:cover;width: 100px;height: 100px; ' class='img-thumbnail' src=\"data:image/jpeg;base64," + Convert.ToBase64String(item.SkillFrom.ApplicationUser.Photo) + "\" />")
                 }
                 else
                 {
                     <img id='blah' src="~/Content/Photos/default-profile-photo.png" class="img-thumbnail" style="object-fit: cover; width: 100px; height: 100px;"/>
                 }
        </td>
        <td>
            @Html.ActionLink(item.SkillFrom.ApplicationUser.FName+ " " + item.SkillFrom.ApplicationUser.LName, "RequestIndex", "Profile", new { userId = item.SkillFrom.ApplicationUser.Id }, null)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SkillFrom.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SkillTo.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Message)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfSending)
        </td>
        <td>
            @if (item.Status == -1)
            {
                @Html.ActionLink("Accept", "Accept", new {requestId = item.Id},new {@class="btn btn-success" })
            }
            else if (item.Status == 1)
            {
                @Html.ActionLink("Deny", "Deny", new {requestId = item.Id}, new { @class = "btn btn-danger" })
            }
            else
            {
                @Html.ActionLink("Accept", "Accept", new {requestId = item.Id}, new { @class = "btn btn-success",@style="margin: 5px" }) 
                @Html.ActionLink("Deny", "Deny", new {requestId = item.Id}, new { @class = "btn btn-danger" })
            }
        </td>
    </tr>
}

</table>
