﻿@model IEnumerable<Tech_No_Logic.Models.Request>

<h2>Output requests</h2>
<table class="table">
    <tr>
        <th></th>
        <th>
            User
        </th>
        <th>
            Your Skill
        </th>
        <th>
            Skill you want
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Message)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfSending)
        </th>
        <th>
            Status
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @if (item.SkillTo.ApplicationUser.Photo != null)
                {
                    @Html.Raw("<img id ='blah' style='object-fit:cover;width: 100px;height: 100px; ' class='img-thumbnail' src=\"data:image/jpeg;base64," + Convert.ToBase64String(item.SkillTo.ApplicationUser.Photo) + "\" />")
                }
                else
                {
                    <img id='blah' src="~/Content/Photos/default-profile-photo.png" class="img-thumbnail" style="object-fit: cover; width: 100px; height: 100px;" />
                }
            </td>
            <td>
                @Html.ActionLink(item.SkillTo.ApplicationUser.FName + " " + item.SkillTo.ApplicationUser.LName, "RequestIndex", "Profile", new { userId = item.SkillTo.ApplicationUser.Id }, null)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SkillFrom.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SkillTo.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfSending)
            </td>
            <td>
                @if (item.Status == 1) { @Html.Label("Accepted",new {@class="text-success" })}
                else if (item.Status== -1) { @Html.Label("Rejected", new { @class = "text-danger" })}
                else { @Html.Label("Not considered", new { @class = "text-warning" })}
            </td>
            <td>
                @Html.ActionLink("Cancel", "Delete", "Requests", new {requestId = item.Id}, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
