﻿@model IEnumerable<Tech_No_Logic.Models.Request>

@{
    ViewBag.Title = "Requests";
}

@*Тут потрібна таба для вхідних і вихідних запитів*@
<div style="margin-top:30px">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Input requests</a></li>
        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Output requests</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">@Html.Action("Input")</div>
        <div role="tabpanel" class="tab-pane" id="profile">@Html.Action("Output")</div>
    </div>

</div>





