﻿
@{
    ViewBag.Title = "HomeRules";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HomeRules</title>
</head>
<body>
    <div> 
        <h2>Rules)</h2>
    </div>
</body>
</html>
