﻿@*@section SPAViews {
        @Html.Partial("_Home")
    }
    @section Scripts{
        @Scripts.Render("~/bundles/knockout")
        @Scripts.Render("~/bundles/app")
    }*@
@{
    ViewBag.Title = "Index";
}

    <link href="~/Content/HomeStyles.css" rel="stylesheet" />
    <div>
        <div class="hit-the-floor">Welcome to Barter!</div>
        
    </div>
    <div class="container img-thumbnail">
        <div id="MyCarousel" class="carousel slide" data-ride="carousel" data-interval="2000">
            <ol class="carousel-indicators">
                <li data-target="#MyCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#MyCarousel" data-slide-to="1"></li>
                <li data-target="#MyCarousel" data-slide-to="2"></li>
                <li data-target="#MyCarousel" data-slide-to="3"></li>
            </ol>

            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="~/Content/Photos/home.jpg" alt="...">
                    <div class="carousel-caption">
                        ...
                    </div>
                </div>

                <div class="item">
                    <img src="~/Content/Photos/barter2.jpg" alt="...">
                    <div class="carousel-caption">
                        ...
                    </div>
                </div>

                <div class="item">
                    <img src="~/Content/Photos/barter3.jpg" alt="...">
                    <div class="carousel-caption">
                        ...
                    </div>
                </div>
                <div class="item">
                    <img src="~/Content/Photos/4.jpg" alt="...">
                    <div class="carousel-caption">
                        ...
                    </div>
                </div>
            </div>
            <a class="left carousel-control" href="#MyCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#MyCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
        <div id="about" >
            <div >
                <h2 >How does it work?</h2><br>
                <h4 >
                    For example, you know German and always wanted to learn play guitar.
                    Someone graduated from music school, but lacks knowledge of a foreign language.
                    Why not help each other? Teach someone in exchange for getting new skills!
                </h4>
            </div>
        </div>
        <section id="content-section-3">
            <div class="section_3" >
                <div >
                    <h2 >Advantages</h2>
                </div>
                <div class="row">
                    @*<div  id="adv" class="container">*@
                    <div class="col-md-4 col-md-offset-1">
                        <div class="info-coll  ">
                            <div class="info-item-left" style="margin-bottom:60px;">
                                <p style="float: left; padding-right:20px;">
                                <img src="@Url.Content("~/Content/Photos/idea.png")" alt="loading" width="150" height="150" />
                                </p>
                                <p>
                                    <div class="image-desc">
                                        <h3 style="color:#15a589">Free</h3>
                                        <div class="service-with-image-content">
                                            <p1>
                                                <span>
                                                    Learn for free in exchange for your
                                                    assistance.
                                                </span>
                                            </p1>
                                        </div>
                                    </div>
                                </p>
                            </div>
                        </div>
                        </div>
                    <div class="col-md-4 col-md-offset-2" >
                        <div class="info-coll " >
                            <div class="info-item-left" style="margin-bottom:60px;">
                                <p style="float: left; padding-right:20px;">
                                    <img src="@Url.Content("~/Content/Photos/calendar.png")" alt="loading" width="150" height="150" />
                                    </p>
                                <p>
                                    <div class="image-desc">
                                        <h3 style="color:#15a589">Comfort</h3>
                                        <div class="service-with-image-content">
                                            <p1>
                                                <span>
                                                    Choose a convenient time.
                                                </span>
                                            </p1>
                                        </div>
                                    </div>
                                </p>
                            </div>
                        </div>
                   </div>
                    @*<div class="container" style="margin-right:20px; margin-left:100px; max-width:45%; float:left;">*@
                    <div class="row">
                        <div class="col-md-4 col-md-offset-1">
                        <div class="info-coll ">
                            <div class="info-item-left" style="margin-bottom:60px;">
                                <p style="float: left; padding-right:20px;"><img src="@Url.Content("~/Content/Photos/laptop.png")" alt="loading" width="150" height="150" /></p>
                                <p>
                                    <div class="image-desc">
                                        <h3 style="color:#15a589">Distance</h3>
                                        <div class="service-with-image-content">
                                            <p1>
                                                <span>
                                                    No time and desire to go to tutors or courses? Learn at home!
                                                </span>
                                            </p1>
                                        </div>
                                    </div>
                                </p>
                            </div>
                        </div>
                        </div>
                        <div class="col-md-4 col-md-offset-2">
                        <div id="div4" class="info-coll ">
                            <div class="info-item-left" style="margin-bottom:60px;">
                                <p style="float: left; padding-right:20px;"><img src="@Url.Content("~/Content/Photos/transfer.png")" alt="loading" width="150" height="150" /></p>
                                <p>
                                    <div class="image-desc">
                                        <h3 style="color:#15a589">Sociality</h3>
                                        <div class="service-with-image-content">
                                            <p1>
                                                <span>
                                                    Choose a teacher, based on personal interests, connect with new people and learn a lot.
                                                </span>
                                            </p1>
                                        </div>
                                    </div>
                                </p>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div id="contact">
            <h2 style="padding-bottom:20px; padding-left:50px;">Contacts</h2>
            <div class="row">
                <div class="col-sm-5" style="padding-left:50px;">
                    <p><span class="glyphicon glyphicon-map-marker"></span> Lviv, Ukraine</p>
                    <p><span class="glyphicon glyphicon-phone"></span> +38 012-345-6789</p>
                    <p><span class="glyphicon glyphicon-envelope"></span> email@something.com</p>
                </div>
            </div>
        </div>
        @*<div class="col-md-1 col-md-offset-1">
            <a onclick="window.open('https://en.wikipedia.org/wiki/Barter', '_blank')" class="btn btn-default">Learn more</a>
        </div>
        <div class="col-md-1 col-md-offset-6">
            @using (Html.BeginForm("HomeRules", "Home"))
            {
                <button type="submit" class="btn btn-default">Rules</button>
            }

        </div>*@
    </div>
    


