﻿body {
}
.item{
    background: #333;    
    align-items: center;
}
.carousel{
    margin: 20px;
}
.btn{
    margin: 20px;
    background-color:#45304c;
    color:white;
}
.btn:active{
    background-color:#45304c;
    color:white;
}
.btn:hover{
    background-color:#22083c;
    color:white;
}
h2{
    margin-top:30px;
    text-align:center;
}
h3{
    margin:20px;
    text-align:center;
}
h4{
    text-align:center; 
    margin:20px;
}
.section_3{
    margin-top:40px; 
    margin-bottom:30px;
}
#adv{
    margin-left:20px;
    max-width:45%;
    float:left;
}
.hit-the-floor {
    margin:30px;
    color: black;
    font-size: 4em;
    font-weight: bold;
    font-family: Helvetica;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1),
     0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25),
     0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}

.hit-the-floor {
    text-align: center;
}
#contact{

}
/*#div2{
    margin-left:600px;
}
#div4{
    margin-left:250px;
}*/
/*.info-coll{
    display:flex;
    justify-content:flex-end;
}*/
.row{
    margin-top:40px;
}