﻿body {
}
#imgBox {
  width:250px;
  height:250px;
}
#NameRow {
   font-size:30px;
}
#UserMainInfo {
   font-size:18px
}
#UserMainInfoList dt {
   text-align:left
}
.ProfileHeader {
    background-color: #ffffff
}
#SkillsIHave {
    padding-right: 0px;
    padding-left: 0px;
}
#SkillsPanalHeading {
    background-color: #ffffff;
}
.panel-default {
}
.jumbotron {
    background-color: #ffffff;
}
.SkillPlate {
    width: 60px;
    height: 60px;
    background-color: #447F67;
    float: left;
    margin: 10px;
}