﻿@model IEnumerable<Tech_No_Logic.Models.Rubric>

@{
    ViewBag.Title = "Rubrics";
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit","Rubrics", new { id=item.Id }, null) |
            @Html.ActionLink("Details", "Details", "Rubrics", new { id = item.Id }, null) |
            @Html.ActionLink("Delete", "Delete", "Rubrics", new { id = item.Id }, null)
        </td>
    </tr>
}

</table>
