﻿<!DOCTYPE html>
<html lang="en" ng-app="Barter">
<head>
    <meta charset="utf-8" />
    <title>Barter</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .navbar-brand {
            font-size: 25px;
        }
        .navbar-inverse .navbar-brand {
            color: gainsboro;
        }
        .navbar-inverse .navbar-nav > li > a {
            color: gainsboro;
            font-size: 18px;
        }
    </style>
</head>
<body style="background-color:#e8e8e8">
<div class="navbar navbar-inverse navbar-fixed-top" style="background-color: #45304c; border: #45304c;">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" style="color: #e4e0d8">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Barter", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})
        </div>
        <div class="navbar-collapse collapse" style="color: #e4e0d8">
            
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
<div class="container body-content">
    @RenderBody()
    @RenderSection("SPAViews", required: false)
    <hr style="margin-left: -10px;"/>
    <footer style="">
        <p>&copy; @DateTime.Now.Year - Barter (Tech_No_Logic)</p>
    </footer>
</div>
   
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("Scripts", required: false)
</body>
</html>
