﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()
        <ul class="nav navbar-nav navbar-right">
            @if (User.IsInRole("Admin"))
            {
                <li>
                    @Html.ActionLink("Administrate", "Index", "Admin", new { area = "" }, new { @class = "col-md-pull-3" })
                </li>
            }
            @if (User.IsInRole("Moderator"))
            {
                <li>
                    @Html.ActionLink("Moderate", "Index", "Moderator", new { area = "" }, new { @class = "col-md-pull-3" })
                </li>
            }
            <li class="col-md-pull-1">
                @Html.ActionLink(" ", "Index", "Profile", routeValues: new {area = ""}, htmlAttributes: new {title = "Profile", @class = "glyphicon glyphicon-user "})
            </li>
            <li class="col-md-pull-1">
                @Html.ActionLink(" ", "Index", "Requests", new { area = "" }, new { title = "Requests", @class = "glyphicon glyphicon-bullhorn" })
            </li>
            <li class="col-md-pull-1">
                @Html.ActionLink(" ", "Index", "Manage", routeValues: new { area = "" }, htmlAttributes: new { title = "Manage", @class = "glyphicon glyphicon-wrench " })
            </li>
            <li class="col-md-pull-1">
            @Html.ActionLink(" ", "Search", "UserSkills", new { area = "" }, new { title = "Search", @class = "glyphicon glyphicon-search" })
            </li>
            <li class="nav-divider"></li>
            <li>
                <a href="javascript:sessionStorage.removeItem('accessToken');$('#logoutForm').submit();" class="glyphicon glyphicon-off" title="Log off"></a>
            </li>
        </ul>
    }
}

else
{
    <ul class="nav navbar-nav navbar-right " >
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: new { area = "" }, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: new { area = "" }, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}

