﻿@model IEnumerable<Tech_No_Logic.Models.UserSkill>

@{
    ViewBag.Title = "Index";
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Subrubric)
        </th>
        <th>
            Skill
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Subrubric.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "UserSkills", new { id = item.Id }, new { @class = "btn btn-info" ,@style="padding-bottom:1px ;padding-top: 1px" }) 
                @Html.ActionLink("Delete", "Delete", "UserSkills", new { id = item.Id }, new { @class = "btn btn-danger", @style = "padding-bottom:1px ; padding-top: 1px" })
            </td>
        </tr>
    }

</table>
<p>
    @Html.ActionLink("Create New", "Create", "UserSkills",null,new {@class="btn btn-success"})
</p>


