﻿@model IEnumerable<Tech_No_Logic.Models.UserSkill>

@{
    ViewBag.Title = "RequestIndex";
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Subrubric)
        </th>
        <th>
            Skill
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Subrubric.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Make request", "Create", "Requests", new { UserSkillToId = item.Id }, new { @class = "btn btn-success" })
            </td>
        </tr>
    }

</table>

