﻿@using Tech_No_Logic.Models
@model IEnumerable<Tech_No_Logic.Models.UserSkill>

@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>

<form action="/UserSkills/Search" method="get">
    <p>
        Find by name: <input id="SearchString" name="SearchString" type="text" value="">
        <input type="submit" value="Search">
    </p>
</form>
<table class="table">
    <tr>
        <th></th>
        <th>
           User
        </th>
        <th>
           Hometown
        </th>
        <th>
           Subrubric
        </th>
        <th>
            Skill
        </th>
        <th>
            Description
        </th>
        <th></th>
        <th></th>
    </tr>

    @if (Model != null)
    {
        foreach (var item in Model)
         {
             <tr>
                 <td>
                     @if (item.ApplicationUser.Photo != null)
                     {
                         @Html.Raw("<img id ='blah' style='object-fit:cover;width: 100px;height: 100px; ' class='img-thumbnail' src=\"data:image/jpeg;base64," + Convert.ToBase64String(item.ApplicationUser.Photo) + "\" />")
                     }
                     else
                     {
                         <img id='blah' src="~/Content/Photos/default-profile-photo.png" class="img-thumbnail" style="object-fit: cover; width: 100px; height: 100px;"/>
                     }
                 </td>
                 <td>
                     @Html.ActionLink(item.ApplicationUser.FName + " " + item.ApplicationUser.LName, "RequestIndex", "Profile",new { userId=item.ApplicationUser.Id},null)
                 </td>
                 <td>
                     @Html.DisplayFor(modelItem => item.ApplicationUser.Hometown)
                 </td>
                 <td>
                     @Html.DisplayFor(modelItem => item.Subrubric.Name)
                 </td>
                 <td>
                     @Html.DisplayFor(modelItem => item.Name)
                 </td>
                 <td>
                     @Html.DisplayFor(modelItem => item.Description)
                 </td>
                 <td>
                     @Html.ActionLink("Make request", "Create", "Requests", new {UserSkillToId = item.Id},new { @class = "btn btn-success" })
                 </td>
             </tr>
         }
    }

</table >
  
